
<form>
<table>
	<tr>
		<td class=formlabel>Candidate Name</td>
		<td class=formfield><input name=candidate size=30></td>
	</tr>
	<tr>
		<td class=formlabel>Phone Number</td>
		<td class=formfield><input name=phone size=30></td>
	</tr>
	<tr>
		<td class=formlabel>Date/Time</td>
		<td class=formfield><input name=phone size=30></td>
	</tr>
</table>
</form>

